mixin icon(fill, stroke, name, custom_class)
  if custom_class == undefined
    if fill == true && stroke != true
      - var className = 'icon icon-' + name
    else if fill == true && stroke == true
      - var className = 'icon icon-' + name + ' icon__with-stroke'
    else
      - var className = 'icon icon-' + name + ' icon__only-stroke'
  else
    if fill == true && stroke != true
      - var className = 'icon icon-' + name + ' ' + custom_class
    else if fill == true && stroke == true
      - var className = 'icon icon-' + name + ' ' + custom_class + ' icon__with-stroke'
    else
      - var className = 'icon icon-' + name + ' ' + custom_class + ' icon__only-stroke'
  
  svg(class=className)
    use(xlink:href="assets/images/sprites.svg#" + name)

mixin btn(type, text, custom_class)
  if custom_class == undefined
    - var className = 'button'
  else
    - var className = 'button' + ' ' + custom_class

  button(class=className, type=type) #{text}

mixin icon-btn(type, icon, custom_class, icon_custom_class)
  if custom_class == undefined
    - var className = 'button'
  else
    - var className = 'button' + ' ' + custom_class

  button(class=className, type=type)
    +icon(icon, icon_custom_class)

mixin link(type, href, text, custom_class, target)
  if type == 0
    if custom_class == undefined
      - var className = 'link'
    else
      - var className = 'link' + ' ' + custom_class
  else if type == 1
    if custom_class == undefined
      - var className = 'button'
    else
      - var className = 'button' + ' ' + custom_class

  a(class=className, href=href, target=target) #{text}
